/* a{
    color: black;
} */

#cartlist{
    position: fixed;
    margin-left:92%;
    display: flex;
    justify-content: right;
    /* background-color:red; */
}
#cartdone{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: black;
    
    text-align: center;
}
#body{
    width: 95%;
    margin: auto;
}
#p1{
    font-size: 12px;
    font-weight: 600;
}
#p1>a{
    color: black;
    margin-top: 10px;
}

#searchbl>div{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 10px 4%;
    height: 80px;
    cursor: pointer;
}
#searchbl img{
    height: 50%;
}

@media only screen and (min-width:767px){
    #botnav{
        display: none;
    }
    #restop-img{
        display: none;
    }
    #top-img{
        width: 100%;
        margin-top: 70px;
    }
    #top-img img{
        width: 100%;
    }
    #p1>a{
       color: black;
       margin-top: 10px;
    }
   #products{
       display: flex;
   }
   #left{
       display: block;
    margin-top: 20px;
    position:sticky;
    width: 20%;
    top: 120px;
    /* border: 1px solid red;
    background-color: blue; */
    height: 600px;
    overflow: scroll;
    }
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(128, 128, 128, 0.568);
        border-radius: 10px;
    }
    #showfilters>div{
        border: 1px solid rgba(128, 128, 128, 0.308);
        margin-bottom: 20px;
        /* height: 182px;
        overflow: scroll; */
    }
    #showfilters>div>div:nth-child(2){
        height: 140px;
        overflow: scroll;
        margin-bottom: -17px;

    }
    #showfilters>div>div:nth-child(2)::-webkit-scrollbar{
        width: 4px;
    }
    #showfilters>div>div:nth-child(1),
    #showfilters>div>div:nth-child(2)>div{
        display: flex;
        justify-content: space-between;
    }
    #showfilters>div>div:nth-child(1),
    #showfilters>div>div:nth-child(2)>div{
        border-bottom:1px solid rgba(128, 128, 128, 0.521) ;
    }
    #showfilters>div>div:nth-child(2)>div{
        height: 45px;
        cursor: pointer;
    }
    #showfilters>div>div:nth-child(1)>div:nth-child(1){
        font-size: 16px;
        font-weight: 500;
        color: #666666;
        margin: 10px;
    }
    #showfilters>div>div:nth-child(1)>div:nth-child(2){
        margin-top: 5px;
    }
    #showfilters>div>div:nth-child(2)>div>div:nth-child(1){
        font-size: 14px;
        color: #666666;
        margin: 15px;
    }
    #showfilters>div>div:nth-child(2)>div>div:nth-child(2){
        margin-top: 10px;
    }
   
   #right{
       margin: 2%;
       /* height: 2000px;
       overflow: scroll; */
       width: 75%;
   }
   /* ::-webkit-scrollbar{
       display: none;
   } */
   #totalprod{
       font-size: 12px;
   }
   #dispro{
       margin-top: 80px;
       width: 100%;
       /* border: 1px solid blue; */
       display: grid;
       /* grid-template-columns: repeat(3, 31%); */
       
   }
   #dispro>div{
       cursor: pointer;
   }
   #dispro img:nth-child(1){
       width: 100%;
   }
   #dispro>div>div:nth-child(2)>div:nth-child(1){
       display: flex;
   }
   #dispro>div>div:nth-child(3)>div:nth-child(1),
   #dispro>div>div:nth-child(4)>div:nth-child(1){
       font-size: 15px;
       font-weight: 700;
   }
   #dispro>div>div:nth-child(3)>div:nth-child(2){
       font-size: 14px;
       font-weight: 500;
       color: #666666;
   }
   #dispro>div>div:nth-child(4)>div:nth-child(2){
        font-size: 11px;
        font-weight: 500;
   }
   #dispro>div>div:nth-child(2),
   #dispro>div>div:nth-child(3), 
   #dispro>div>div:nth-child(4){
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
   }
   #dispro>div>div:nth-child(2)>div:nth-child(1)>div{
       width: 15px;
       height: 15px;
       border-radius: 50%;
       border: 2px solid rgba(128, 128, 128, 0.432);
       margin: 5px;
   }
   #dispro>div>div:nth-child(2)>img{
       height: 20px;
   }
   #rnav{
       display: flex;
       justify-content: space-between;
       height: 40px;
       background-color: #ededed;
   }
   #sortby{
       display: flex;
       cursor: pointer;
   }
   #sortby>div:nth-child(1){
       font-size: 12px;
       margin: 5px;

   }
   #sortby>div:nth-child(2){
       margin: 2px 12px;
   }
   #rnav>div{
       margin-top: 10px;
   }
   #rnav>div:nth-child(1){
       font-size: 21px;
       font-weight: 500;
       margin: 10px 20px;
   }
   #hidsort{
       display: block; 
   }
   #hidsort{
       display: flex;
       top: 0;
       left: 0;
       z-index: 1;
       /* width: 100%; */
       /* height: 100%; */
      justify-content: right;
   }
   #hidsortcontent{
       display: none;
       position: absolute;
       width: 200px;
       height: 80px;
       background-color: white;
       font-size: 17px;
       border: 1px solid rgba(128, 128, 128, 0.123);
   }
  #hidsortcontent>div{
      padding: 10px 20px;
      cursor: pointer;
  }
}

@media only screen and (min-width:1025px){
    #botnav{
        display: none;
    }
    #top-img{
        margin-top: 120px;
    }
    #dispro{
        grid-template-columns: repeat(3, 31%);
        grid-gap:70px 3.5% ;
    }
}
@media only screen and (min-width:767px) and (max-width:1025px){
    #restop-img, #botnav{
        display: none;
    }
    #top-img{
        width: 100%;
        margin-top: 50px;
    }
    #top-img img{
        width: 100%;
    }
    #left{
        width: 30%;
    }
    #right{
        width: 70%;
    }
    #dispro{
        grid-template-columns: repeat(2, 45%);
        grid-gap:70px 5% ;
    }
}
@media only screen and (min-width:620px) and (max-width:767px){
    #totalprod, #sortby, #hidsort{
        display: none;
    }
   
    body{
        background-color: #e9e9e9;
    }
    #body{
        width: 100%;
        left: 0;
    }
    #p1{
        height: 48px;
        width: 100%;
        margin-top: 5px; 
        background-color: white;
    }
    #p1{
        display: flex;
    }
    #p1>a, #p1>p{
        margin: 17px 0 0 10px;
    }

    #buy1{
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        padding: 30px;
    }
    #dispro{
        width: 98%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-gap:30px 4%;
    }
    #dispro>div{
        background-color: white;
        border-radius: 20px;
    }
    #dispro img:nth-child(1){
        width: 100%;
        margin-top: 20px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1)>div{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid rgba(128, 128, 128, 0.432);
        margin: 5px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
        margin-left:20px ;
    }
    #dispro>div>div:nth-child(2)>img:nth-child(2){
        margin-right: 20px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1){
        display: flex;
    }
    #dispro>div>div:nth-child(3)>div:nth-child(1),
    #dispro>div>div:nth-child(4)>div:nth-child(1){
        font-size: 15px;
        font-weight: 700;
    }
    #dispro>div>div:nth-child(3)>div:nth-child(2){
        font-size: 14px;
        font-weight: 500;
        color: #666666;
    }
    #dispro>div>div:nth-child(4)>div:nth-child(2){
         font-size: 11px;
         font-weight: 500;
    }
    #dispro>div>div:nth-child(2),
    #dispro>div>div:nth-child(3), 
    #dispro>div>div:nth-child(4){
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #dispro>div>div:nth-child(3)>div{
        margin: 0px 20px;
    }
    #dispro>div>div:nth-child(4)>div{
        margin: 0px 20px;
    }
    #dispro>div>div:nth-child(2)>img{
        height: 20px;
    }
}
@media only screen and (min-width:0px) and (max-width:620px){
    #totalprod, #sortby{
        display: none;
    }
    #buy1{
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        padding: 30px;
    }
    body{
        background-color: #e9e9e9;
    }
    #dispro{
        width: 98%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-gap:30px 4%;
    }
    #dispro>div{
        background-color: white;
        border-radius: 20px;
    }
    #dispro img:nth-child(1){
        width: 100%;
        margin-top: 20px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1)>div{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid rgba(128, 128, 128, 0.432);
        margin: 5px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
        margin-left:20px ;
    }
    #dispro>div>div:nth-child(2)>img:nth-child(2){
        margin-right: 20px;
    }
    #dispro>div>div:nth-child(2)>div:nth-child(1){
        display: flex;
    }
    #dispro>div>div:nth-child(3)>div:nth-child(1),
    #dispro>div>div:nth-child(4)>div:nth-child(1){
        font-size: 15px;
        font-weight: 700;
    }
    #dispro>div>div:nth-child(3)>div:nth-child(2){
        font-size: 14px;
        font-weight: 500;
        color: #666666;
    }
    #dispro>div>div:nth-child(4)>div:nth-child(2){
         font-size: 11px;
         font-weight: 500;
    }
    #dispro>div>div:nth-child(2),
    #dispro>div>div:nth-child(3), 
    #dispro>div>div:nth-child(4){
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #dispro>div>div:nth-child(3)>div{
        margin: 0px 20px;
    }
    #dispro>div>div:nth-child(4)>div{
        margin: 0px 20px;
    }
    #dispro>div>div:nth-child(2)>img{
        height: 20px;
    }
} 

@media only screen and (min-width:0px) and (max-width:767px){
    #top-img{
        display: none;
    }
    #left{
       display: none;
        width: 100%;
        height: 60%;
        bottom: 70px;
        background-color: #231F20;
        overflow: scroll;
        position: fixed;
        left: 0;
    }
        ::-webkit-scrollbar{
            width: 6px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: black;
            border-radius: 10px;
        }
        #showfilters{
            width: 80%;
            margin: auto;
        }
        #showfilters>div{
            /* border: 1px solid rgba(128, 128, 128, 0.308); */
            margin-bottom: 20px;
            /* height: 182px;
            overflow: scroll; */
        }
        #showfilters>div>div:nth-child(2){
            height: 140px;
            overflow: scroll;
            margin-bottom: -17px;
    
        }
        #showfilters>div>div:nth-child(2)::-webkit-scrollbar{
            width: 4px;
        }
        #showfilters>div>div:nth-child(1),
        #showfilters>div>div:nth-child(2)>div{
            display: flex;
            justify-content: space-between;
        }
        #showfilters>div>div:nth-child(1),
        #showfilters>div>div:nth-child(2)>div{
            border-bottom:1px solid white;
            color: white;
        }
        #showfilters>div>div:nth-child(2)>div{
            height: 45px;
            cursor: pointer;
        }
        #showfilters>div>div:nth-child(1)>div:nth-child(1){
            font-size: 16px;
            font-weight: 500;
            color: white;
            margin: 10px;
        }
        #showfilters>div>div:nth-child(1)>div:nth-child(2){
            margin-top: 5px;
        }
        #showfilters>div>div:nth-child(2)>div>div:nth-child(1){
            font-size: 14px;
            color: white;
            margin: 15px;
        }
        #showfilters>div>div:nth-child(2)>div>div:nth-child(2){
            margin-top: 10px;
        }
        #hidsortcontent{
            width: 100%;
            height: 100px;
            bottom: 70px;
            background-color: white;
            overflow: hidden;
            position: fixed;
            left: 0;
        }
        #hidsortcontent>div{
            margin: 20px;
            font-size: 18px;
            cursor: pointer;
        }
    #restop-img{
        display: block;
        margin-top: 60px;
        width: 100%;
    }
    #restop-img img{
        width: 100%;
    }
    #botnav{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #03b7f4;
        text-align: center;
    }
    #botnav>div:nth-child(1),
    #botnav>div:nth-child(3){
        font-size: 19px;
        font-weight: 500;
        padding:27px 6%;
        color: white;
        cursor: pointer;
    }
    #midline{
        margin-top: 27px;
        color: white;
    }
}